@media (min-width: @screen-md-min)

.span2{
    padding-left: 20px;
    padding-top: 40px;
}
body{font:"Lato_Regular"}
h1{font-size:60px;}
h2{font-size: 20px}
h3{font-size: 45px; text-align: center;}
h4{font-size: 17px}
h6{font-size: 20px}


#container {
    min-height:100%;
    margin: auto;
}

header{
    background-color:#334C80;
    color: #E6E6FA;
    font-weight: bold;
    text-align: center;
    margin-top: 10px,

}
#box2{font-weight: bold;
    color: #333333;
    text-align: center;
}

.two{
    margin-bottom: -220px;
}
.four {
    margin-top: 1100px;
    background-color: white;
    height: 50px;
    padding-top: 40px;
    margin-bottom: -150px;

}
.box4{
    position: relative;
    padding-left: 250px;
}
p.data{
   height: 5px;
   width: 400px;
}
.three {
    position: absolute;
    margin-top: 500px;
    background-color: #D9D9DE;
    height: 600px;
    padding-top: 20px;
}
.five{
    margin-top: 500px;
    background-color: #D9D9DE;
    padding-top: 10px;
    height: 150px;
}

.six{
    text-align: center;
    background-color: white;
    margin-bottom: -1000px;
}

.column1 {
    float: left;
    position: relative;
    bottom: 130px; /*moves text up*/
    left: 20px;
    width: 50px;
    margin: 10px;}
.horiz {
    /*width:176px;*/
    font-size:80%;
    text-align:center;
    float:left;
    position:relative;
}

.box31, .box32, .box33, .box34, .box35, .box36{
    width: 300px;
    float: left;
    padding-left: 200px;

}

.last{
    color: deepskyblue;
}

#footer{
    position:absolute;
    bottom:-150px;
    left: 450px;
    color: darkgray;
}



